[submodule "coref-reeval"]
	path = coref-reeval
	url = https://github.com/nilinykh/coref-reeval.git
[submodule "corefconversion"]
	path = corefconversion
	url = git@github.com:nilinykh/corefconversion.git
[submodule "disrpt25-task"]
	path = disrpt25-task
	url = https://github.com/gucorpling/disrpt25-task.git
